body,html{
    padding: 0px;
    margin: 0px;
    text-shadow: 1px 1px 15px #CFCFCF;
}
#nav div{
    width: 100%;
    margin: 5px;
    cursor: pointer;
    word-break: break-all;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    opacity: 0.2;
    transition: opacity 1s ease;
}
*::selection{
    background: rgba(0,0,0,0);
}
#nav div:hover{
    opacity: 1;
}
#triggerBegin{
    background-image: url("/img/green_play.png");
}
#clearState{
    background-image: url("/img/red_x.png");
}
#settings{
    background-image: url("/img/purple_settings.png");
}
#triggerPause{
    display: none;
    background-image: url("/img/yellow_pause.png");
}
#highlightBlock{
    background-image: url("/img/highlightBlock.png");
}
#nav{
    height: 50px;
    position: absolute;
    width: 200px;
    z-index: 1;
    display: flex;
}

#programWindow img{
    position: fixed;
}
#programWindow{
    /*border:1px solid #999999;*/
    margin: 5px;
    overflow: hidden;
}

.current{
    z-index: 2;

}

#mainCanvas{
}